[Desktop Entry]
Type=Application
Name=DuneCity
Comment=DuneCity with selectable local mods
Exec=dunecity
Icon=dunecity
Terminal=false
Categories=Game;StrategyGame;
StartupNotify=true